<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Boba Fett Trivia!
  </h1>

  <ng-container *ngFor="let trivia of data.results">
    <p>{{trivia.question | decodeHtml}}</p>
    <button (click)="showHints = !showHints">Show Hints</button>
    <ng-container *ngIf="showHints">
      <div *ngFor="let hint of trivia.incorrect_answers">
        <p>{{hint}}</p>
      </div>
      <p>{{trivia.correct_answer}}</p>
    </ng-container>
    <button (click)="showAnswer = !showAnswer">Show Answer</button>
    <ng-container *ngIf="showAnswer">
      <p>{{trivia.correct_answer}}</p>
    </ng-container>
  </ng-container>

  <router-outlet></router-outlet>